// Variables
$primary: #1f1f72;
$secondary: #ec805f;
$melange: #dfb085;
$beige: #ebccac;

$shadow: 0 20px 20px -12px rgba(0, 0, 0, 0.2);

$font-primary: "Asap", sans-serif;
$font-secondary: "Poppins", sans-serif;
