// @import "../../assets/scss/shared";

.readmore-button {
	margin-bottom: 50px;
	display: inline-block;
	font-weight: bold;
}
.svg-inline--fa.fa-arrow-right.fa-1x {
	width: 14px;
	position: relative;
	left: 10px;
	top: 3px;
}
