// @import "../../assets/scss/shared";

.readmore-button {
	margin-bottom: 50px;
	display: inline-block;
	font-weight: bold;
}
.readmore-button {
	padding: 10px 20px;
	border-radius: 10px;
	text-decoration: none;
	text-align: center;
}
